.configEditor {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.row span {
    font-size: 14px;
    text-align: center;
    width: 170px;
}

.action {
    width: 45px;
    height: 45px;
}

.action svg {
    width: 35px;
    height: 35px;
}