.toolbar {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    right: 0;
}

.toolbar img {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}